@import '../utils/variables.scss'; 

body{
    font-size: $base-font-size;
    font-family: $font-family;
    background-color: $background-dark;
    color: $text-color-dark;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}