.banner{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    


    &--texto{
        font-size: $title-font-size;
    }


    &--div{
        background: linear-gradient(90deg, $gradient-color-1, $gradient-color-2);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 8px;
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    }

    @media (max-width: 768px){
        flex-direction: column-reverse;
        
        text-align: center;
        &--texto{
            font-size: 2rem;
            b{
                display: block;
            }
        }
        &--div{
            width: 50vw;
            height: 50vw;
            max-width: 250px;
            max-height: 250px;
            
            img{
                width: 50vw;
                height: 50vw;
                max-width: 250px;
                max-height: 250px;


            }
        }
    }
}